.workinprogress {
  /* position top left of screen */
  position: absolute;
  top: 0;
  left: 0;
}

.emoticon-overlay {
  position: absolute;
  top: 440px;
  right: 1350px;
  animation: moveUpDown 1s linear infinite;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}


