body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0px;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.base {
  z-index: 1;
  position: absolute;
}

.hair {
  z-index: 2;
  position: absolute;
}

.clothes {
  z-index: 3;
  position: absolute;
}
