body {
  background-color: rgb(253, 198, 59);
  text-align: center
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.base {
  z-index: 1;
  position: absolute;
}

.hair {
  z-index: 2;
  position: absolute;
}

/* .charComp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin: 0;
  border: 5px solid black;
} */


.title {
  font-family: 'Cherry Bomb One', cursive;
  font-size: 200px;
  color: rgb(242, 71, 71);
  margin-bottom: 10px;
  text-shadow:
  -4px -4px 0 #000,
  4px -4px 0 #000,
  -4px 4px 0 #000,
  4px 4px 0 #000;
}

.startlink {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(109, 193, 45);
    border: 3px solid black;
    border-radius: 12px;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    font-family: 'Baloo 2', cursive;
  }

  h2 {
    font-family: 'Baloo 2', cursive;
    font-size: 40px;
  }

  .footer {
    font-family: 'Baloo 2', cursive;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

.clothes {
  z-index: 3;
  position: absolute;
}

