.task-settings-wrapper {
  bottom: -370px;
  right: -45px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 500px;
  /* height: 100%; */
  background-color:  #B8336A;
  border-radius: 60px;
  border: 2px solid #fbeee0;
  box-shadow: #fbeee0 16px 16px 0 0;
  color: #fbeee0;
  text-shadow: 
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.current-previous-task {
  font-size: 18px;
  margin-top: -2%;
}

.taskBubble {
  font-family: 'Baloo 2', cursive;
  font-size: 18px;
  color: #fbeee0;
  position: absolute;
  top: 120px;
  right: 190px;
  padding-right: 110px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  /* text-shadow:
  -1px -1px 0  #B8336A,
  1px -1px 0 #B8336A,
  -1px 1px 0  #B8336A,
  1px 1px 0  #B8336A; */
}

#task {
  margin-right: 10px;
  border-radius: 4px;
  height:20px;
}

.tasks {
  font-size: 20px;
  position: absolute;
  font-family: 'Baloo 2', cursive;
  color: #fbeee0;
  margin-left: -50px;
  text-shadow: 
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  /* text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; */
}

.task-submit {
  margin-top: 8%;
  margin-left: 80px;
}